In [5]:
import pandas as pd
from sklearn.neural_network import MLPClassifier

In [10]:
train = pd.read_csv('./train.csv', index_col = 0)
train

      무력   지력  정치  매력  전투승리
장수
조조    87   97  97  98     1
유비    68   77  80  99     0
관우    98   96  73  96     1
제갈량   60  100  96  97     1
가후    42   98  89  68     0
여포   100   31   9  67     0

In [11]:
x_train = train[['무력', '지력', '정치', '매력']]
y_train = train['전투승리']

In [12]:
model = MLPClassifier(random_state = 29) #Multi-Layer Preceptron
model.fit(x_train, y_train)

MLPClassifier(random_state=29)

In [15]:
test = pd.read_csv('./test.csv', index_col=0)
test

     무력  지력  정치  매력
장수
마초   98  40  32  82
여몽   85  90  80  84
서서   68  97  86  85
장비   99  45  17  44
사마의  67  99  91  79
서황   94  68  57  63

In [16]:
model.predict(test)

array([0, 1, 1, 0, 1, 0], dtype=int64)